* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.my-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.3fr 1.7fr; 
    grid-template-rows: 0.3fr 1.7fr 0.3fr; 
    gap: 2px 2px;
    height: 100vh;
   
    grid-template-areas: 
      "header header"
      "filter main"
      "footer footer"; 
  }
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }
  .filter { grid-area: filter; }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(31,18,150);
    background: linear-gradient(90deg, #1f1296 0%, rgba(15,172,217,1) 77%, rgba(252,0,255,1) 100%);
    height: 100%;

}
.button-regist{
   background-color:#1f1296 ;
   color: #f17354;
}
.Logo {
    padding-right: 15px;
  color: #f17354;
}

main {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eeeada;
}

.contenedor-productos {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: 10px;

}

.contenedor-productos:hover {
    box-shadow: 4px 7px 9px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 7px 9px 0px rgba(0, 0, 0, 0.4);

}

.contenedor-carrusel {
    padding-bottom: 50px;

}

.productos {
    height: 165px;

}

.debajo-producto {
    width: 100%;
    display: inline;
    border-top: solid 1px black;
    text-align: center;
}

.precio {
    font-size: 30px;
    margin-top: 10px;

}

.descripcion {
    display: none;
}

.boton-compra {
    margin-top: 20px;
    padding: 5px;
    color: white;
    background-color: green;
}

footer{
    text-align: center;
    background: rgb(31,18,150);
    background: linear-gradient(90deg, rgba(31,18,150,1) 0%, rgba(15,172,217,1) 77%, rgba(252,0,255,1) 100%);
    height: 100%;
    margin-top: auto;
}

.filter{
    background: rgb(161,0,130);
    background: linear-gradient(0deg, rgba(161,0,130,1) 0%, rgb(241, 115, 84) 100%);
    
}
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 9px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 17px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.523rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

.title-marcas{
    
    font-size: 25px;
    border-bottom: 1px solid #000000;
}
